<div>
<h1>Restaurants list</h1>
<% @restaurants.each do |restaurant| %>
    <div><%= link_to restaurant.name, restaurant_path(restaurant)%></div>
<% end %>
</div>
<div>
<h2>Add a new restaurant</h2>
<%= link_to "Add a new restaurant", new_restaurant_path %>
</div>
